@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

body {
  min-width: 1170px;
  //background: hsl(0,0%,97%);
}

.container{
  width: 1170px !important;
}

/*login-form*/
.signin-form {
  width: 350px;
  box-sizing: border-box;
  border: 1px hsl(0,0%,80%) solid;
  padding: 25px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  .form-group {
    margin: 15px 0 0 0;

    &:first-of-type {
      margin-top: 1px;
    }
  }
}

.msg-error-wrapper {
  min-height: 36px;
  padding: 4px 0;

  .msg-error {
    color: #f00;
    padding: 4px 10px;
    background: rgba(255,0,0,.07);
    border-radius: 4px;

    p {
      margin: 0;
    }
  }
}

input:-webkit-autofill {
  background-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}
/*!login-form*/

/*header*/
$primary-color: #03C3DA;
$border-color: hsla(0,0%,100%,.5);

header {
  //background: hsl(0,0%,93%);
  background: $primary-color;
  padding: 30px 0;

  .btn,.form-control,.input-group-addon {
    border-radius: 0;
    border-color: $border-color;

    background-color: transparent;
    color: #fff;

    .caret {
      opacity: .7;
    }

  }

  .btn,.form-control,.input-group-addon, label {
    color: #fff;
  }

  .btn,.input-group-addon {
    &:hover {
      background-color: hsla(0,0%,100%,.2);
      color: #fff;
      border-color: #fff;

      .glyphicon,.caret {
        opacity: 1;
      }
    }

    &:active,&:focus,&:active:hover {
      background-color: hsla(0,0%,100%,.3) !important;
      color: #fff !important;
      border-color: #fff !important;
      box-shadow: none !important;

      .glyphicon,.caret {
        opacity: 1;
      }
    }
  }

  .form-control:focus {
    border-color: #fff;
  }

  .glyphicon {
    opacity: .7;
  }

}

.icon-group-wrapper {
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 5px;
  opacity: .7;

  i {
    position: absolute;
    text-shadow: 0 1px 0 $primary-color, 1px 0 0 $primary-color, 0 -1px 0 $primary-color, -1px 0 0 $primary-color;
    font-size: 13px;
    opacity: 1;

    &:nth-child(1) {
      top: 0;
      left: 0;
    }

    &:nth-child(2) {
      top: 3px;
      left: 3px;
    }

    &:nth-child(3) {
      top: 6px;
      left: 6px;
    }
  }
}

.pg {
  text-align: center;

  & > * {
    display: inline-block;
    vertical-align: middle;
    height: 34px;
    margin: 0 2px;
  }

  .current-wrapper {
    width: 150px;


    & > * {
      display: inline-block;
      margin: 0 2px;
    }
  }
}
/*!header*/

/*users*/
.btn-group.btn-group-team > .btn {
  min-width: 130px;
}

.btn-group.btn-group-team {
  margin-left: 5px;
}

.btn-group .selected {
  background: #f3f3f3 !important;
}

.input-group:hover > * {
  border-color: #fff;
}

.btn-logout i {
  margin-left: 5px;
}

.empty {
  text-align: center;
}

.users {
  padding: 20px 0;
}

$panel-color: rgba($primary-color,.5);
//$panel-color: #6DC89B;

.users {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  .panel {
    width: 50%;
    width: calc(50% - 30px);
    margin: 0 15px 30px 15px;

  }
}

.panel {
  border-radius: 0;


  &,.panel-heading,.panel-heading img {
    border-color: rgba( $panel-color, .4);
  }

  .panel-heading {
    font-weight: bold;
    background: rgba($panel-color, .1);
    //background: $panel-color;
    border-radius: 0;
    color: darken($primary-color, 20%);
    //color: #fff;

    img {
      margin-right: 10px;
      //border: 1px $panel-color solid;
      border-style: solid;
      border-width: 1px;
    }
  }

  .panel-body {
    padding: 25px;
    color: darken($primary-color, 20%);

    .task {
      margin-top: 12px;
      padding-top: 12px;
      //border-top: 1px hsl(0,0%,90%) solid;
      border-top: 1px rgba($panel-color, .3) solid;

      &:first-child {
        border-top: none;
        padding-top: 0;
        margin-top: 0;
      }

      .task-title {
        font-weight: bold;
      }

      ul {
        margin: 0;
        padding-left: 20px;
      }
    }
  }
}
/*!users*/
